<!DOCTYPE html>
<html>

<head>
    <%-include("../header")-%>
    <title>Profile</title>
</head>

<body>
    <% if(isAdmin === 1){ %>
        <%-include("../navbar/admin")-%>
    <% }else{%>
        <%-include("../navbar/user") -%>
    <% } %>
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Profile page</h1>
                <p class="lead">Here you can see your informations and be able to modidy them.</p>
            </div>
        </div>
    </header>
    <% if(user_data){ %>
    <div class = "container">
        <table class="table striped">
            <tbody>
                <tr>
                    <td>
                        Username : <%= user_data[0]["username"]%>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Firstname : <%= user_data[0]["firstname"] %>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Lastname : <%= user_data[0]["lastname"] %>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email : <%= user_data[0]["mail"] %>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/profile/update/<%=user_data[0]["id_user"]%>">
                            <button class ="btn btn-info">
                                Update
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <% } %>
    <%-include("../footer")-%>
</body>

</html>