<!DOCTYPE html>
<html>

<head>
    <%-include("../header")-%>
    <title>Articles</title>
</head>

<body>
    <% if(isAdmin){ %>
        <%-include("../navbar/admin")-%>
    <% }else{%>
        <%-include("../navbar/user") -%>
    <% } %>

    <% if(user_data){ %>
    <div class = "container-fluid">
        <table class="table striped">
            <tbody>
                <tr>
                    <td>
                        Username : <%= user_data[0]["username"]%>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Firstname : <%= user_data[0]["firstname"] %>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Lastname : <%= user_data[0]["lastname"] %>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email : <%= user_data[0]["mail"] %>
                    </td>
                    <td>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <% } %>
</body>

</html>