<!DOCTYPE html>
<html>

<head>
    <%-include("../header")-%>
    <title>Articles</title>
</head>

<body>
    <% if(isAdmin){ %>
    <%-include("../navbar/admin")-%>
    <% }else{%>
    <%-include("../navbar/user") -%>
    <% } %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Movies</h1>
            <p class="lead"><%=desc%></p>
        </div>
    </div>

    <div class="row rows-cols-1 row-cols-3">
        <%for(i=0; i<movies.length;i++){ %>
            <div class="col mb-1">
                <!-- Movie Card-->
                <div class ="card text-white bg-dark mb-3">
                    <div class="card-header">
                    <img src=<%=image_path[i]%> class="card-img-top" alt="Movie poster">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= movies[i]["name"] %>
                        </h5>
                        <p class="card-text">
                            <p>Realisator : <%= movies[i]["realisator"]%></p>
                            <p>Genres : <%= genres[i] %> </p>
                            <p>Release year : <%= movies[i]["release_year"]%></p>
                            <p>Running time : <%= movies[i]["running_time"]%> minutes.</p>
                                <a href="/movies/<%=movies[i]["id_movie"]%>">
                                    <button class="btn btn-warning">Go to</button>
                                </a>
                            
                        </ul>
                        </p>
                    </div>
                </div>
                <!--END-->
            </div>
        <% } %>
    </div>
    <%-include("../footer")-%>
</body>

</html>