<!DOCTYPE html>
<html>

<head>
    <%-include("../header")-%>
    <title>Articles</title>
</head>

<body>
    <% if(isAdmin){ %>
        <%-include("../navbar/admin")-%>
    <% }else{%>
        <%-include("../navbar/user") -%>
    <% } %>
    <div class = "container-fluid">
        <% if(movies){ %>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Movie name</th>
                    <th>Realisator</th>
                    <th>Release year</th>
                    <th></th>
                    <% if(isAdmin){ %>
                    <th></th>
                    <th></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(i=0; i<movies.length ; i++){ %>
                <tr>
                    <td>
                        <%= movies[i]["name"] %>
                    </td>
                    <td>
                        <%= movies[i]["realisator"]%>
                    </td>
                    <td>
                        <%= movies[i]["release_year"]%>
                    </td>
                    <td>
                        <a href="/movies/<%=movies[i]["id_movie"]%>">
                            <button class ="btn btn-warning">
                                Go to
                            </button>
                        </a>
                    </td>
                        <% if(isAdmin){ %>
                    <td>
                        <a href="/movies/update/<%=movies[i]["id_movie"]%>">
                            <button class ="btn btn-info">
                                Update
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="/movies/delete/<%=movies[i]["id_movie"]%>">
                            <button class ="btn btn-danger">
                                Delete
                            </button>
                        </a>
                    </td>
                        <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
    <%-include("../footer")-%>
</body>

</html>