    <!DOCTYPE html>
<html>
<head>
    <%-include("../header")-%>
    <title> <%= data_movie[0]["name"] %> </title>
</head>
<body>
    <header>
        <h1> <%= data_movie[0]["name"] %> </h1>
    </header>
    <a href="/movies">Articles</a>
    <div class="container-fluid">
        <%= data_movie[0]["synopsis"]%>
    </div>
    
    <% if(canComment){ %>
    <form method="POST" action="/movies/comments/<%=data_movie[0]["id_movie"]%>">
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" placeholder="Please write your comment..." name="comment" rows = "4" required ></textarea>
        </div>
        <button type="submit" class="btn btn-info">Send</button>
    </form>
    <% }else{ %>
    <div class="alert alert-warning" role="alert">
        You need to wait 10mins from the time u commented to comment again
    </div>
    <% } %>
    <br>
    
    <div class = "container-fluid">
        <% if(average_mark){ %>
        <p>Average mark of this movie : <%=average_mark%></p>
        <% }else{ %>
        <p>No mark atm give us one !</p>
        <% } %>
    </div>
    <div class = "container-fluid">
        <form method = "POST" action= "/movies/rate/<%=data_movie[0]["id_movie"]%>">
            <div class="form-group">
                <label for="mark">Give a rate !</label>
                <select class="form-control" id="mark" name="mark">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-warning">Rate</button>
        </form>
    </div>
    <div>
        <% if(comments){ %>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Comment Date</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <% for(i=0; i<comments.length ; i++){ %>
                <tr>
                    <td>
                        <%= comments[i]["content"] %>
                    </td>
                    <td>
                        <%= comments[i]["post_date"]%>
                    </td>
                    <td>
                        <%= usernames[i]%>
                    </td>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
</body>
</html>