<!DOCTYPE html>
<html>

<head>
    <%-include("../header")-%>
    <title> <%= data_movie[0]["name"] %> </title>
</head>

<body>
    <% if(isAdmin === 1){ %>
    <%-include("../navbar/admin")-%>
    <% }else if (isAdmin ===0){%>
    <%-include("../navbar/user") -%>
    <% }else{ %>
    <%-include("../navbar/visitor") -%>
    <% } %>

    <header>
        <h1> <%= data_movie[0]["name"] %> </h1>
    </header>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab"
                aria-controls="nav-summary" aria-selected="true">Summary</a>
            <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab"
                aria-controls="nav-comment" aria-selected="false">Comment & Grade</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
            <% if(isAdmin){ %>
            <a href="/movies/update/<%=data_movie[0]["id_movie"]%>">
                <button class="btn btn-info">
                    Update
                </button>
            </a>

            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Delete
            </button>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Validation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure you want to delete this movie.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            <a href="/movies/delete/<%=data_movie[0]["id_movie"]%>"><button type="button"
                                    class="btn btn-danger">Delete</button></a>
                        </div>

                    </div>
                </div>
            </div>
            <% } %>

            <br>
            <!-- Movie Card-->
            <div class="card text-center" style="width: 18rem;">
                <div class="card-img-top">
                    <img src=<%=image_path%> class="img-responsive" alt="Movie poster">
                </div>
                <div class="card-body">
                    <p class="card-title">
                        <%= data_movie[0]["name"] %>
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Realisator : <%= data_movie[0]["realisator"]%></li>
                        <li class="list-group-item">Genres : <%= genres %> </li>
                        <li class="list-group-item">Release year : <%= data_movie[0]["release_year"]%></li>
                        <li class="list-group-item">Running time : <%= data_movie[0]["running_time"]%> minutes.</li>
                    </ul>
                </div>
            </div>
            <!-- END -->
            <div class="container-fluid">
                Synopsis : <%= data_movie[0]["synopsis"]%>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
        <% if (isAdmin !== -1){%>
            <% if(canComment == true){ %>
            <form method="POST" action="/movies/comments/<%=data_movie[0]["id_movie"]%>">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" placeholder="Please write your comment..."
                        name="comment" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-info">Send</button>
            </form>
            <% }else{ %>
            <div class="alert alert-warning" role="alert">
                You already posted your opinion about this movie !
            </div>
            <% } %>
            <br>
            <div class="container-fluid">
                <form method="POST" action="/movies/rate/<%=data_movie[0]["id_movie"]%>">
                    <div class="form-group">
                        <label for="mark">Give a rate !</label>
                        <select class="form-control" id="mark" name="mark">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-warning">Rate</button>
                </form>
            </div>
            <% }else{ %>
                <div class="alert alert-warning" role="alert">
                    You must be logged to comment or to mark the movie, go and join our community to improve everyone streaming experience !
                </div>
            <% } %>
            <div class="container-fluid">
                <% if(average_mark){ %>
                <p>Average mark of this movie : <%=average_mark%></p>
                <% }else{ %>
                <p>This movie doesn't have a mark yet!</p>
                <% } %>
            </div>

            <div>
                <% if(comments){ %>
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>Content</th>
                            <th>Comment Date</th>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(i=0; i<comments.length ; i++){ %>
                        <tr>
                            <td>
                                <%= comments[i]["content"] %>
                            </td>
                            <td>
                                <%= comments[i]["post_date"]%>
                            </td>
                            <td>
                                <%= usernames[i]%>
                            </td>

                            <% if(username == usernames[i] || isAdmin) { %>
                            <td>
                                <a href="/movies/comments/delete/<%=comments[i]["id_comment"]%>">
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </a>
                            </td>
                            <td>

                            </td>
                            <% } %>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </div>

    <%-include("../footer")-%>
</body>

</html>
<%-include("../autocompletion")%>